Hi,

%p
  The following are the details for an airline enquiry.

.booking_information
  %h4{:style => "text-align: center"} Booking Information
  %table{:border => "1px", :style => "border-collapse: collapse; text-align: center; width: 800px; margin: 20px auto;"} 
    %tr
      %th Trip type
      %th Source
      %th Destination
      %th Departure date
      %th Return date
    %tr
      %td= @enquiry.trip_type
      %td= @enquiry.source
      %td= @enquiry.destination
      %td= @enquiry.departure_date.strftime("%d-%m-%Y")
      %td
        - if @enquiry.return_date.present? 
          = @enquiry.return_date.strftime("%d-%m-%Y") 

  %table{:border => "1px", :style => "border-collapse: collapse; text-align: center; width: 600px; margin: 20px auto;"} 
    %tr
      %th Adults
      %th Children
      %th Infants
      %th Class of travel
      %th Airline
      %th Departure Time
      %th Return Time
    %tr
      %td= @enquiry.adults
      %td= @enquiry.children
      %td= @enquiry.infants
      %td= @enquiry.class_of_travel
      %td= @enquiry.airline_preference
      %td= @enquiry.departure_time
      %td= @enquiry.return_time
 
.passenger_information
  %h4{:style => "text-align: center"} Passenger Information
  %table{:border => "1px", :style => "border-collapse: collapse; text-align: center; width: 400px; margin: 20px auto;"}
    %tr
      %th Person type
      %th Title
      %th First name
      %th Last name
    - @enquiry.passenger_details.each do |passenger|
      %tr
        %td= passenger['person_type']
        %td= passenger['title']
        %td= passenger['first_name']
        %td= passenger['last_name']

%p 
  Kindly reply with the availability of the airline for the above booking details to this mail - #{@user.email}
  
%p
  Thanks & Regards
  %br
  = @user.email
