Hi,

%p
  The following is the enquiry for airline booking.

.booking_information
  %h4 Booking Information
  %table
    %tr
      %th Trip type
      %th Source
      %th Destination
      %th Departure date
      %th Return date
    %tr
      %td= @enquiry.trip_type
      %td= @enquiry.source
      %td= @enquiry.destination
      %td= @enquiry.departure_date
      %td= @enquiry.return_date

  %table
    %tr
      %th Adults
      %th Children
      %th Infants
      %th Class of travel
      %th Airline
      %th Departure Time
      %th Return Time
    %tr
      %td= @enquiry.adults
      %td= @enquiry.children
      %td= @enquiry.infants
      %td= @enquiry.class_of_travel
      %td= @enquiry.airline_preference
      %td= @enquiry.departure_time
      %td= @enquiry.return_time
 
.passenger_information
  %h4 Passenger Information
  %table
    %tr
      %th Person type
      %th Title
      %th First name
      %th Last name
    - @enquiry.passenger_details.each do |passenger|
      %tr
        %td= passenger['person_type']
        %td= passenger['title']
        %td= passenger['first_name']
        %td= passenger['last_name']

  
%p
  Thanks & Regards
  %br
  = @user.email
