Dear "#{@enquiry.airline_company}"

%p
  Here is the booking enquiry for the following details

%ul
  %li= "Airline : #{@enquiry.airline_company}"
  %li= "Source : #{@enquiry.source}"
  %li= "Destination : #{@enquiry.destination}"
  %li= "Date : #{@enquiry.date}"
  %li= "Number of passengers : #{@enquiry.number_of_persons}"

%p
  Thanks & Regards
  %br
  = @user.email
