- @content_for_title = "Sign Up" 
.signup_form_container
  .form-header
    %h2 Sign up
  = form_for @user, :method => 'post', :html => {:class => 'form-horizontal signup-form'} do |f|
    .form-body
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.email_field :email, :class => 'input-xlarge'

      .control-group
        = f.label :passord, :class => 'control-label'
        .controls
          = f.password_field :password, :class => 'input-xlarge'

      .control-group
        .controls
          Already have an account?
          = link_to 'Sign in', user_signin_path
          here

    .form-footer
      = f.submit "Sign up", :class => 'btn btn-large btn-success'
