.enquiry_form_container
  .form_container
    .form-header
      %h3 Enquiry Form
    = form_for @enquiry, :method => 'post', :html => {:class => 'form-horizontal enquiry-form'} do |f|
      .form-body
        .control-group
          = f.label :airline_company, :class => 'control-label'
          .controls
            = f.text_field :airline_company, :class => 'input-xlarge'

        .control-group
          = f.label :source, :class => 'control-label'
          .controls
            = f.text_field :source, :class => 'input-xlarge'

        .control-group
          = f.label :destination, :class => 'control-label'
          .controls
            = f.text_field :destination, :class => 'input-xlarge'

        .control-group
          = f.label :date, :class => 'control-label'
          .controls
            = f.text_field :date, :class => 'input-xlarge'

        .control-group
          = f.label :number_of_persons, :class => 'control-label'
          .controls
            = f.text_field :number_of_persons, :class => 'input-xlarge'
            = f.hidden_field :passenger_details

      .passenger_details_container.hide
        %h4 Passenger Details

      .form-footer
        = button_tag "Submit Enquiry", :type => 'button', :class => 'btn btn-large btn-success submit_enquiry_form'

